<section class="col-12">
  <mat-tab-group>
    <mat-tab label="Projetos">
      <mat-list>
        <mat-list-item>Projetos arquitetônicos</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Projeto de reforma</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>As built</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Levantamento planimétrico</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Projeto executivo</mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Assessoria">Assessoria</mat-tab>
    <mat-tab label="Alvarás, Licenças e Certidões">Alvarás, Licenças e Certidões</mat-tab>
    <mat-tab label="Registro de Imóveis">Registro de Imóveis</mat-tab>
  </mat-tab-group> 
</section>

<!-- tirar o tab pq buga o responsivo e colocar cards -->