:root, html, body {
  font-size: 16px;
}

html, body { 
  height: 100%; 
}

body { 
  background-color: #2f3245;
  font-family: 'Open Sans', sans-serif;
  color: #eeeeee;
  margin: 0; 
  
  &.mat-typography {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
  }
}
