<section class="col-12 col-xxl-10 mx-auto">

  <div class="d-flex flex-wrap">
    <figure class="col img-thumbnail d-flex align-items-center mb-0">
      <img class="img-fluid" src="./../../../assets/images/amanda-tatarino-logo.png" alt="Logo Amanda Tatarino">
    </figure>
    <div class="about col-lg-7 col-xl-5">
      <span>
        A AT ARQUITETURA E URBANISMO oferece serviços desde a elaboração de Projetos até a aprovações junto aos órgãos públicos municipais, estatuais e federais. Atuamos em desenvolvimento de Projetos  arquitetônicos, Regularização de imobiliária e Consultoria em legalização. Trabalhamos em parceria com empresas auxiliando em orçamento para execução de obra e projetos executivos. Temos o compromisso de atender a demanda de cada cliente com as melhores soluções, descomplicando o processo através da clareza em cada etapa.
      </span>
    </div>
  </div>

</section>